.u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
  min-height: 643px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 643px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 35px 60px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Ubuntu;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  text-transform: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 29px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 643px;
  background-image: url("images/ass-min.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 417px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 293px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    font-family: Ubuntu, sans-serif;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 430px;
    background-position: 18.92% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 596px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 55px 50px 30px 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 538px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 290px;
  }
}